In [2]:
import pandas as pd 
import numpy as np

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv',index_col=0)

In [5]:
df.columns=['maydoni','aholisi']

In [6]:
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [7]:
df.sum()

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [8]:
df.median()

maydoni      16400.0
aholisi    1676000.0
dtype: float64

In [9]:
df.prod()

maydoni    1.538590e+55
aholisi    2.913892e+80
dtype: float64

In [10]:
df2=pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv',index_col=0)

In [11]:
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [12]:
df2.sum()

2020    168712
2021    124734
dtype: int64

In [13]:
df2.sum(axis=1)

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [14]:
df2.mean(axis=1)

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [15]:
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [16]:
df.idxmin()

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object

In [17]:
df.idxmax()

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

In [18]:
df['maydoni'].argmax()  #maximal qiymatning indexini qaytaradi

8

In [19]:
df['aholisi'].argmax()

12

In [20]:
print(df['aholisi'].idxmax(),'aholisi',df['aholisi'].max())

Toshkent viloyati aholisi 4450000.0

In [21]:
print(df['aholisi'].idxmax())

Toshkent viloyati

In [22]:
print(df['aholisi'].max())

4450000.0

In [23]:
df.std(axis=1)

Boʻlinishi
Andijon viloyati                 1.339826e+06
Buxoro viloyati                  9.512708e+05
Fargʻona viloyati                1.831548e+06
Jizzax viloyati                  6.293250e+05
Xorazm viloyati                  8.440734e+05
Namangan viloyati                1.311047e+06
Navoiy viloyati                  4.643570e+05
Qashqadaryo viloyati             1.414638e+06
Qoraqalpogʻiston Respublikasi    7.353911e+05
Samarqand viloyati               1.630305e+06
Sirdaryo viloyati                4.546697e+05
Surxondaryo viloyati             1.170403e+06
Toshkent viloyati                3.135806e+06
dtype: float64

In [24]:
df.kurt()

maydoni    4.119613
aholisi    3.681670
dtype: float64

In [101]:
# cumsum(),cummax(),cummin(),cumprod()
df = pd.DataFrame({'Sonlar': [1, 2, 3, 4, 5]})
df['Yig‘indi'] = df['Sonlar'].cumsum()
print(df)

   Sonlar  Yig‘indi
0       1         1
1       2         3
2       3         6
3       4        10
4       5        15

In [103]:
df['cummax']=df['Sonlar'].cummax()

In [105]:
df['cumprod']=df['Sonlar'].cumprod()

In [107]:
df['cummin']=df['Sonlar'].cummin()

In [109]:
df

   Sonlar  Yig‘indi  cummax  cumprod  cummin
0       1         1       1        1       1
1       2         3       2        2       1
2       3         6       3        6       1
3       4        10       4       24       1
4       5        15       5      120       1