In [143]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\programdata\anaconda3\lib\site-packages (2.9.10)

In [145]:
import pandas as pd
from pprint import pprint as print
import psycopg2 as psql

In [147]:
db=psql.connect(
    host='localhost',
    database='learn',
    user='postgres',
    password='74123')

In [149]:
cursor=db.cursor()

In [151]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.head()

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from hydro (TWh),Electricity from other renewables (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),Electricity from nuclear (TWh)
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [152]:
df.columns=['country','code','year','coal','gas','hydro','renewables_other','solar','oil','wind','nuclear']
df.sample(5)

,country,code,year,coal,gas,hydro,renewables_other,solar,oil,wind,nuclear
5309,Sudan,SDN,2001,0.00000,0.416467,1.255000,0.110000,0.00,1.061533,0.000,0.0
2838,Kazakhstan,KAZ,2010,62.65758,6.906180,7.942000,0.000000,0.00,0.582800,0.001,0.0
3952,North Macedonia,MKD,2004,NaN,NaN,1.482000,0.000000,0.00,NaN,0.000,0.0
2463,Iceland,ISL,2010,0.00000,0.000000,12.510000,4.234000,0.00,0.001880,0.000,0.0
2155,Greece,GRC,2009,34.18800,11.023000,5.374457,0.217572,0.05,7.698000,2.543,0.0

In [153]:
from sqlalchemy import create_engine
# PostgreSQL-ga ulanish uchun SQLAlchemy engine yaratamiz
engine = create_engine("postgresql://postgres:74123@localhost:5432/learn")

# Jadvalni PostgreSQL bazasiga yuklaymiz
df.to_sql('jadval', engine, if_exists='fail')

241

In [156]:
query = "SELECT * FROM jadval"
df2 = pd.read_sql(query,db, index_col="index")

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1256118797.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql(query,db, index_col="index")

In [159]:
df2.sample(5)

,country,code,year,coal,gas,hydro,renewables_other,solar,oil,wind,nuclear
index,,,,,,,,,,,
4376,Papua New Guinea,PNG,2016,0.000000,0.964644,0.995000,0.038000,0.001782,1.874356,0.000000,0.0
1886,Fiji,FJI,2008,0.000000,0.000000,0.495000,0.089000,0.000100,0.270000,0.020000,0.0
5326,Sudan,SDN,2018,0.000000,1.747616,9.560430,0.118055,0.020000,4.454504,0.000000,0.0
3041,Lesotho,LSO,2001,0.000000,0.000000,0.285000,0.000000,0.000000,0.000000,0.000000,0.0
1120,China,CHN,1992,567.329609,2.467000,130.686077,0.113000,0.003000,53.210000,0.131313,0.0

In [161]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6241 entries, 0 to 6240
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           6241 non-null   object
 1   code              5474 non-null   object
 2   year              6241 non-null   int64
 3   coal              5221 non-null   float64
 4   gas               5221 non-null   float64
 5   hydro             6241 non-null   float64
 6   renewables_other  6206 non-null   float64
 7   solar             6241 non-null   float64
 8   oil               5221 non-null   float64
 9   wind              6241 non-null   float64
 10  nuclear           6241 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 585.1+ KB

In [163]:
query = """
CREATE TABLE worldpop(
rank INT PRIMARY KEY,
country TEXT ,
density numeric(7,2),
population numeric(9,2) NOT NULL,
area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

In [165]:
query = "SELECT * FROM worldpop;"
df3 = pd.read_sql(query,db)
df3

C:\Users\user\AppData\Local\Temp\ipykernel_2988\198949322.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql(query,db)

Empty DataFrame
Columns: [rank, country, density, population, area]
Index: []

In [167]:
query = "INSERT INTO worldpop VALUES (1, 'Macau', 21946.4667, 658.3940, 30)"
cursor.execute(query)
db.commit()

In [169]:
query = "SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

[(1, 'Macau', Decimal('21946.47'), Decimal('658.39'), 30)]

In [171]:
query = "SELECT * FROM worldpop;"
pd.read_sql(query,db)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1092983934.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query,db)

   rank country   density  population  area
0     1   Macau  21946.47      658.39    30

In [173]:
query = """
INSERT INTO worldpop (rank,country,population,area)
VALUES (2,'Uzbekistan', 33935.7630, 447400)
"""
cursor.execute(query)
db.commit()

In [175]:
query = "SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

[(1, 'Macau', Decimal('21946.47'), Decimal('658.39'), 30),
 (2, 'Uzbekistan', None, Decimal('33935.76'), 447400)]

In [177]:
query = """
UPDATE worldpop
SET rank=133, density=75.8511
WHERE country='Uzbekistan';
"""
cursor.execute(query)
db.commit()

In [179]:
query = "SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

[(1, 'Macau', Decimal('21946.47'), Decimal('658.39'), 30),
 (133, 'Uzbekistan', Decimal('75.85'), Decimal('33935.76'), 447400)]

In [181]:
query = "DELETE FROM worldpop WHERE country='Macau'"
cursor.execute(query)
db.commit()

In [183]:
query = "SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

[(133, 'Uzbekistan', Decimal('75.85'), Decimal('33935.76'), 447400)]

In [185]:
cursor.execute('DROP TABLE worldpop')
db.commit()

In [187]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/world_population.csv", index_col='rank')
df.head()

        country     density   densityMi   pop2021  area
rank
1         Macau  21946.4667  56841.3487   658.394    30
2        Monaco  19755.5000  51166.7450    39.511     2
3     Singapore   8305.1915  21510.4461  5896.686   710
4     Hong Kong   6841.3134  17719.0017  7552.810  1104
5     Gibraltar   5616.3333  14546.3033    33.698     6

In [189]:
query = """
CREATE TABLE worldpop(
rank INT,
country TEXT PRIMARY KEY,
density numeric(10,4),
population numeric(10,4) NOT NULL,
area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

In [191]:
uz=df[df.country=="Uzbekistan"]
print(uz)

         country  density  densityMi    pop2021    area
rank
133   Uzbekistan  75.8511   196.4542  33935.763  447400

In [193]:
rank = uz.index.values[0]
country = uz.at[rank, 'country']
density = uz.at[rank, 'density']
population = uz.at[rank, 'pop2021']
area = uz.at[rank, 'area']
print(f"{rank=}, {country=}, {density=}, {population=}, {area=}")

("rank=133, country='Uzbekistan', density=75.8511, population=33935.763, "
 'area=447400')

In [195]:
query = f"""
INSERT INTO worldpop VALUES ({rank}, '{country}', {density}, {population}, {area}) 
"""
cursor.execute(query)
db.commit()

In [197]:
query = "SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

[(133, 'Uzbekistan', Decimal('75.8511'), Decimal('33935.7630'), 447400)]

In [199]:
db.close()